#about{
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: black;
    position: relative;

}



#about-sec{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    
}

h2{
    color: aliceblue !important;
}

p{
    color: aliceblue

}




.btn-learn-more{
    text-decoration: none;
    background-color: crimson;
    height: 100px !important;
    width: 100px !important;
    box-sizing: content-box;
    border-radius: 2px;
    color: aliceblue;
    padding: 8px;


}

.btn-learn-more:hover{
    padding: 12px;
    border-radius: 4px;
    transition: ease-in 300ms;
}